name: shutter_app
description: Shutter OTP Control App
version: 1.0.0+1
environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  enough_mail: ^2.1.7
  http: ^1.1.0
  google_sign_in: ^6.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
